DATABASE_URL="postgresql://postgres:postgres@host.docker.internal:5432/dating?schema=recruit"
JWT_SECRET="recruit-jwt-secret-super-secure-32chars"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER=""
SMTP_PASS=""
ADMIN_EMAIL=""
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""
NEXT_PUBLIC_BASE_URL="https://careerfixer.ru"
